*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #212529;
}

.wrapper{
    width: 100%;
    padding: 0 30px;
}

select{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary{
    color: #fff;
    background-color: #6BB252;
    padding: 8px 12px;
    border-radius: 6px;
}

.btn-primary:hover{
    background-color: #f7a422;
    transition: all .15s ease-in-out;
}

a{
    text-decoration: none;
    color: #212529;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* header */
#header{
    padding: 16px 24px;
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;
}

#header .logo{
    width: 14%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#header .logo a{
    display: block;
    height: 100%;
}

#header .logo button{
    border: none;
    background: transparent;
    cursor: pointer;
}

#header .search-box{
    background: rgba(248 248 248);
    border-radius: 16px;
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    margin: 0 30px;
}

#header .search-box select{
    outline: none;
    border: none;
    background: transparent;
    color: #747474;
}

#header .search-box form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

#header .search-box input{
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    color: #747474;
    padding: 8px;
}

#header .search-box input:focus {
    outline: none;
    border: 2px solid #8fbdf3;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(74, 144, 226, 0.5);
}

#header .search-box form img{
    width: 24px;
    height: 24px;
}

#header .nav{
    width: 60%;
}
#header .nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    list-style: none;
}

#header .nav a{
    color: #000;
    font-weight: 700;
}

#header .nav img{
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

#header .icons{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

/* spotlight */
#spotlight{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

#spotlight .top{
    width: 50%;
}

#spotlight .top h1{
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 80px;
}

#spotlight .top .green{
    color: #6bb252;
    font-weight: 700;
}

#spotlight .top .bold{
    font-weight: 700;
}

#spotlight .top .description{
    color:#747474;
    font-size: 24px;
    margin-top: 16px;
}

#spotlight .top .button{
    display: flex;
    gap: 16px;
    margin-top: 36px;
    font-size: 16px;;
}

#spotlight .top .button a{
    color: #fff;
    border-radius: 32px;
    padding: 18px 24px;
    text-transform: uppercase;
}

#spotlight .top .button .shopping-btn{
    background-color: #6bb252;
}
#spotlight .top .button .shopping-btn:hover{
    background-color: #f7a422;
    transition: all .15s ease-in-out;
}

#spotlight .top .button .join-btn{
    background-color: #212529;
}

#spotlight .top .button .join-btn:hover{
    background-color: #424649;
    transition: all .15s ease-in-out;
}

#spotlight .details{
    width: 100%;
    height: 100%;
    margin: 60px 0;
    display: flex;
    align-items: center;
}

#spotlight .details .info{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#spotlight .details .info .f-normal{
    font-size: 16px;
    text-transform: uppercase;
    color: #212529;
}

#spotlight .details .info .f-bold{
    font-weight: 700;
    font-size: 40px;
    color: #212529;
}

#spotlight .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

#spotlight .bottom .col{
    width: 33.33%;
    display: flex; 
    padding: 24px;;
}

#spotlight .bottom .col-1{
    background-color: #6bb252;
}

#spotlight .bottom .col-2{
    background-color: #364127;
}

#spotlight .bottom .col-3{
    background-color: #f95f09;
}

#spotlight .bottom img{
    width: 60px;
    height: 60px
}

#spotlight .bottom .col .left{
    width: 20%;
}

#spotlight .bottom .col .right{
    width: 80%;
}

#spotlight .bottom .col h5{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

#spotlight .bottom .col p{
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

/* category */
#category{
    padding: 48px 0;
    overflow: hidden;
}

#category .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

#category .top h2{
    font-size: 32px;
    font-weight: 700;
}

#category .bottom a{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:max-content;
}

#category .bottom img{
    border-radius: 50%;
}

#category .bottom h4{
    margin: 16px 0 8px;
}

.custom-swiper-buttons{
    display: flex;
    gap: 10px;
}

.btn-prev,.btn-next,.btn-prev2,.btn-next2, .btn-prev3,.btn-next3, .btn-prev4,.btn-next4 {
  width: 38px;
  height: 38px;
  background-color: #F1F1F1;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.btn-prev.swiper-button-disabled,.btn-next.swiper-button-disabled,
.btn-prev2.swiper-button-disabled,.btn-next2.swiper-button-disabled,
.btn-prev3.swiper-button-disabled,.btn-next3.swiper-button-disabled,
.btn-prev4.swiper-button-disabled,.btn-next4.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}
.btn-prev:hover, .btn-prev2:hover, .btn-prev3:hover, .btn-prev4:hover{
    background-color: #6BB252;
}
.btn-next:hover, .btn-next2:hover, .btn-next3:hover, .btn-next4:hover{
    background-color: #6BB252;
}

/* selling products & Featured products */
.products{
    margin-bottom: 100px;
}
.products .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.products .top h2{
    font-size: 32px;
    font-weight: 700;
}

.products .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.products .card{
    height: min-content;
    width: 18%;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.products .card a{
    text-align: center;
    margin-bottom: 16px;
}

.products .card a img{
    max-height: 210px;
    height: auto;
}

.products .cards .card-detail{
    text-align: center;
}

.products .cards .card-detail h3{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.products .cards .card-detail .rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
}

.products .cards .card-detail .rating span{
    color: #747474;
    font-weight: 400;
}

.products .cards .card-detail .price-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.products .cards .card-detail .price-detail del{
    color: #747474;
}

.products .cards .card-detail .price-detail .price{
    color: #212529;
    font-weight: 600;
}

.products .cards .card-detail .price-detail .off{
    color: #21252980;
    border: 1px solid #adb5bd;
    padding: 4px;
    font-size: 12px;
}

.products .cards .cart-detail{
    /* display: none; */
    visibility: hidden;
    position: absolute;      
    bottom: -45px;            
    left: 0;
    width: 100%;
    background: #FFFFFF;
    padding: 16px;
}

.products .cards li.card:hover .cart-detail{
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}
.products .cards li.card:hover{
    box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.08);
    z-index: 100;
}

.products .cards .cart-detail .quantity{
    width: 25%;
    padding: 8px;
    border: 1px solid #adb5bd;
    color: #747474;
    border-radius: 6px;
}

.products .cards .cart-detail .quantity input{
    width: 100%;
    border: none;
    outline: none;
}
.products .cards .cart-detail .cart-btn{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.products .cards .cart-detail .wishlist-btn{
    width: 16%;
    padding: 10px;
    border: 1px solid #adb5bd;
    color: #747474;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .cards .cart-detail .wishlist-btn:hover{
    background-color: #212529;
}

.products .cards .cart-detail .wishlist-btn:hover i {
    color: white;
}

/* banner */
#banner-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}

#banner-container .banner-left{
    width: 58%;
    height: 500px;
    background: url(images/banner-ad-1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#banner-container .banner-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}

#banner-container .banner-right-top{
    width: 100%;
    height: 49%;
    background: url(images/banner-ad-2.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#banner-container .banner-right-bottom{
    width: 100%;
    height: 49%;
    background: url(images/banner-ad-3.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#banner-container .banner-content{
    padding: 48px;
    color: #FFFFFF;
}

#banner-container .banner-content h3{
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 28px;
}

#banner-container .banner-content p{
    margin-bottom: 16px;
}

#banner-container .banner-content a{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    transition: all .5s;
}

#banner-container .banner-content a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-color: #f8f8f833;
    height: 2px;
}

/* Animated underline */
#banner-container .banner-content a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: all .5s ease;
}

#banner-container .banner-content a:hover::after {
    width: 100%;
}

/* featured products, popular products & just arrived products*/
#featured-products, #popular-products, #arrived-products{
    margin-bottom: 0;
}

#featured-products .cards, #popular-products .cards, #arrived-products .cards{
    flex-wrap: nowrap;
}

#featured-products .card, #popular-products .card, #arrived-products .card{
    flex: 0 0 auto;  
    width: auto;   
    position: static;  
}

#featured-products .cards .cart-detail, 
#popular-products .cards .cart-detail, #arrived-products .cards .cart-detail{
    position: static;   
}

/* contact */
#contact{
    margin-bottom: 48px;
}
#contact .contact-container{
    width: 100%;
    height: 300px;
    background: url(images/banner-newsletter.jpg) no-repeat;
    background-size: cover;
    padding: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
    color: #f8f8f8;
}

#contact .contact-container .left{
    width: 35%;
}

#contact .contact-container .left h2{
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
}
#contact .contact-container .right{
    width: 35%;
}

#contact .contact-container .right div{
    margin-bottom: 16px;
}
#contact .contact-container .right div input{
    padding:6px 12px;
    color: #747474;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: 1px solid #fff;
    line-height: 1.5;
}

#contact .contact-container .right div input:focus{
    border-color: #86b7fe;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

#contact .contact-container .right button{
    background-color: #212529;
    width: 100%;
    color: #f8f8f8;
    transition: all 0.15s ease-in-out;
    padding:6px 12px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}
#contact .contact-container .right button:hover{
    background-color: #424649;
}

/* blog */
#blog{
    margin-bottom: 100px;
}
#blog .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

#blog .top h2{
    font-size: 32px;
    font-weight: 700;
}

#blog .blog-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
#blog .blog-cards .blog-card{
    width: 32%;
    padding: 24px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    border-radius: 6px;
    background-color: #fff;
    list-style: none;
}
#blog .blog-cards .blog-card img{
    width: 100%;
}
#blog .blog-cards .blog-card-detail{
    padding: 16px;
    color: #747474;
}
#blog .blog-cards .blog-card-detail div{
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    margin: 8px 0;
}
#blog .blog-cards .blog-card-detail div i{
    margin-right: 5px;
}
#blog .blog-cards .blog-card-detail h3{
    color: #212529;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 28px;
}
#blog .blog-cards .blog-card-detail p{
    line-height: 2;
}

/* online app store */
#online-app .app-container{
    background-color: #ffc107;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    padding-top: 48px;
}
#online-app .app-container .app-content h5{
    font-size: 32px;
}
#online-app .app-container .app-content p{
    line-height: 2;
    color: #747474;
    margin-bottom: 16px;
}
#online-app .app-container .app-image{
    width: 35%;
    display: flex;
}
#online-app .app-container .app-image img{
    max-width: 100%;
    height: auto;
}

/* People looking section */
#people-looking{
    padding: 24px 0;
}

#people-looking h2{
    margin: 24px 0;
    font-weight: 700;
    font-size: 32px;
}

#people-looking a{
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 6px 12px;
    background-color: #FCF7EB;
    border: 1px solid #FCF7EB;
    border-radius: 6px;
    transition: all .15s ease-in-out;
    color: #747474;
    line-height: 1.5;
    display: inline-block;
}
#people-looking a:hover{
    color: #747474;
    background-color: #FFECBE;
    border-color: #FFECBE;
}

/* benefits section */
#benefits{
    padding: 48px 0;

}
#benefits .benefits-container{
    display: flex;
    flex-wrap: wrap;
    color: #747474;
    gap: 16px;
    justify-content: space-between;
}

#benefits .benefit-card{
    padding: 16px;
    border: 1px solid #adb5bd;
    border-radius: 6px;
    width: 18%;
}
#benefits .benefit-card i{
    margin-bottom: 16px;
    width: 32px;
    height: 32px;
}
#benefits .benefit-card h5{
    font-size: 20px;
    font-weight: 700;
    color: #212529;
    margin-bottom: 8px;
}
#benefits .benefit-card p{
    line-height: 2;
}

/* footer section */
#footer{
    padding: 48px 0;
}
#footer .footer-container{
    display: flex;
    flex-wrap: wrap;
}
#footer .footer-container .social-media{
    width: 25%;
}

#footer .footer-container .social-media ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 8px;
    margin-top: 16px;
}

#footer .footer-container .social-media li{
    padding: 6px 12px;
    border: 1px solid #EFEFEF;
    border-radius: 6px;
    transition: all .15s ease-in-out;
}
#footer .footer-container .social-media li:hover{
    color: #000;
    background-color: #EFEFEF;
}
#footer .footer-container .social-media li a{
    color: #747474;
}
#footer .footer-container .footer-menu{
    width: 16%;

}
#footer .footer-container .footer-menu ul{
    list-style: none;
}
#footer .footer-container .footer-menu li{
    line-height: 2;
}
#footer .footer-container .footer-menu h5{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}
#footer .footer-container .footer-menu li a{
    color: #747474;
}
#footer .footer-container .subscription{
    width: 25%;
}
#footer .footer-container .subscription h5{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}
#footer .footer-container .subscription p{
    color: #747474;
    line-height: 2;
    margin-bottom: 16px;
}
#footer .footer-container .subscription form{
    display: flex;
}
#footer .footer-container .subscription form input{
    padding: 6px 12px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #F7F7F7;
    background-color: #f8f8f8;
    font-size: 16px;
    transition: all .15s ease-in-out;
    line-height: 1.5;
    outline: none;
    color: #747474;
    flex-grow: 1;
}
#footer .footer-container .subscription form input:focus{
    border-color: #86b7fe;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
#footer .footer-container .subscription form button{
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    padding: 6px 12px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    border: 1px solid #212529;
    transition: all .15s ease-in-out;
    font-size: 16px;
    line-height: 1.5;
}
#footer .footer-container .subscription form button:hover{
    background-color: #424649;
    border-color: #373b3e;
}
#footer-bottom{
    margin-bottom: 16px;
}
#footer-bottom .footer-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-bottom .footer-bottom-container p{
    line-height: 2;
    color: #747474;
}
#footer-bottom .footer-bottom-container a{
    text-decoration: underline;
    color: #212529;
}