*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212529;
}

.wrapper{
    width: 100%;
    padding: 0 30px;
}

select{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary{
    color: #fff;
    background-color: #6BB252;
    padding: 6px 12px;
    margin-right: 8px;
    border-radius: 6px;
}

.btn-primary:hover{
    background-color: #f7a422;
    transition: all .15s ease-in-out;
}

a{
    text-decoration: none;
    color: #212529;
}

#home .header{
    padding: 16px 24px;
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;
}

#home .logo{
    width: 14%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#home .logo a{
    display: block;
    height: 100%;
}

#home .logo button{
    border: none;
    background: transparent;
    cursor: pointer;
}

#home .search-box{
    background: rgba(248 248 248);
    border-radius: 16px;
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    margin: 0 30px;
}

#home .search-box select{
    outline: none;
    border: none;
    background: transparent;
    color: #747474;
}

#home .search-box form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

#home .search-box input{
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    color: #747474;
    padding: 8px;
}

#home .search-box input:focus {
    outline: none;
    border: 2px solid #8fbdf3;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(74, 144, 226, 0.5);
}

#home .search-box form img{
    width: 24px;
    height: 24px;
}

#home .nav{
    width: 60%;
}
#home .nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    list-style: none;
}

#home .nav a{
    color: #000;
    font-weight: 700;
}

#home .nav img{
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

#home .icons{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

/* #home .icons button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
} */

#home .spotlight{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

#home .spotlight .top{
    width: 50%;
}

#home .spotlight .top h1{
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 80px;
}

#home .spotlight .top .green{
    color: #6bb252;
    font-weight: 700;
}

#home .spotlight .top .bold{
    font-weight: 700;
}

#home .spotlight .top .description{
    color:#747474;
    font-size: 24px;
    margin-top: 16px;
}

#home .spotlight .top .button{
    display: flex;
    gap: 16px;
    margin-top: 36px;
    font-size: 16px;;
}

#home .spotlight .top .button a{
    color: #fff;
    border-radius: 32px;
    padding: 18px 24px;
    text-transform: uppercase;
}

#home .spotlight .top .button .shopping-btn{
    background-color: #6bb252;
}
#home .spotlight .top .button .shopping-btn:hover{
    background-color: #f7a422;
    transition: all .15s ease-in-out;
}

#home .spotlight .top .button .join-btn{
    background-color: #212529;
}

#home .spotlight .top .button .join-btn:hover{
    background-color: #424649;
    transition: all .15s ease-in-out;
}

#home .spotlight .details{
    width: 100%;
    height: 100%;
    margin: 60px 0;
    display: flex;
    align-items: center;
}

#home .spotlight .details .info{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 24px;
}

#home .spotlight .details .info .f-normal{
    font-size: 16px;
    text-transform: uppercase;
    color: #212529;
}

#home .spotlight .details .info .f-bold{
    font-weight: 700;
    font-size: 40px;
    color: #212529;
}

#home .spotlight .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

#home .spotlight .bottom .col{
    width: 33.33%;
    display: flex; 
    padding: 24px;;
}

#home .spotlight .bottom .col-1{
    background-color: #6bb252;
}

#home .spotlight .bottom .col-2{
    background-color: #364127;
}

#home .spotlight .bottom .col-3{
    background-color: #f95f09;
}

#home .spotlight .bottom img{
    width: 60px;
    height: 60px
}

#home .spotlight .bottom .col .left{
    width: 20%;
}

#home .spotlight .bottom .col .right{
    width: 80%;
}

#home .spotlight .bottom .col h5{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

#home .spotlight .bottom .col p{
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

/* category */
#category{
    padding: 48px 0;
    overflow: hidden;
}

#category .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

#category .top h2{
    font-size: 32px;
    font-weight: 700;
}

#category .bottom a{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:max-content;

}

#category .bottom img{
    border-radius: 50%;
}

#category .bottom h4{
    margin: 16px 0 8px;
}

/* -------------------- */
#category {
  width: 100%;
  padding: 40px 0;
}


.slider-arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ROUND ARROW BUTTONS */
.swiper-button-prev.cat-prev,
.swiper-button-next.cat-next {
  width: 38px;
  height: 38px;
  background: #f2f2f2;
  border-radius: 50%;
}

.swiper-button-prev.cat-prev::after,
.swiper-button-next.cat-next::after {
  font-size: 16px;
  color: #000;
}

/* Category Items */
.category-item {
  text-align: center;
  text-decoration: none;
  color: #000;
}

.category-item img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.category-item p {
  font-size: 16px;
  margin-top: 5px;
}